/* line 25, src/sass/main.scss */
body {
  margin: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* line 32, src/sass/main.scss */
.world {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #248079;
}
